---

export interface Props {
  numberOfSections: number;
  sectionNumber: number;
  sectionTitle: string;
}

const { numberOfSections, sectionNumber, sectionTitle } = Astro.props;

---


<h6 class="font-montserrat font-medium tracking-widest uppercase tabular-nums">
  <sup class="">{sectionNumber}</sup>
  /
  <sub class="mr-2">{numberOfSections}</sub>
  {sectionTitle}
</h6>
