---
import EnumSection from "./EnumSection.astro";
import Image from "../common/Image.astro";
---

<div>
  <div
    class="w-full text-black-dark bg-white-lighter grid grid-cols-1 grid-flow-row content-center items-center md:grid-cols-3 md:grid-rows-3"
  >
    <img
      class="aspect-[3/4] object-cover w-full"
      src="https://images.unsplash.com/photo-1496440737103-cd596325d314?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
      alt=""
    />
    <div class="min-h-xs md:min-h-sm px-8 py-8">
      <EnumSection
        numberOfSections={7}
        sectionNumber={5}
        sectionTitle="Galería"
      />
      <p
        class="font-cormorant font-bold pt-4 prose prose-sm sm:prose lg:prose-lg xl:prose-xl"
      >
        Nuestro amor por la naturaleza nos lleva a buscar el máximo compromiso
        con el medio ambiente.
      </p>
      <p
        class="font-montserrat font-medium pt-4 prose prose-sm sm:prose lg:prose-lg xl:prose-xl max-w-prose"
      >
        La utilización de productos veganos, entre otras acciones, marca la
        diferencia.
      </p>
    </div>
    <img
      class="aspect-[3/4] object-cover w-full"
      src="https://images.unsplash.com/photo-1541216970279-affbfdd55aa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
      alt=""
    />
    <img
      class="aspect-[3/4] object-cover w-full"
      src="https://images.unsplash.com/photo-1467632499275-7a693a761056?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
      alt=""
    />
    <img
      class="aspect-[3/4] object-cover w-full"
      src="https://images.unsplash.com/photo-1597923858411-08783a40f31f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
      alt=""
    />
    <img
      class="aspect-[3/4] object-cover w-full"
      src="https://images.unsplash.com/photo-1476360806206-b2f7af3fbda4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80"
      alt=""
    />
    <img
      class="aspect-[3/4]  object-cover w-full"
      src="https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
      alt=""
    />
    <img
      class="aspect-[3/4] object-cover w-full"
      src="https://images.unsplash.com/photo-1500336624523-d727130c3328?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
      alt=""
    />
    <div class="min-h-xs md:min-h-sm px-8 py-8">
      <p
        class="font-cormorant font-bold pt-4 prose prose-sm sm:prose lg:prose-lg xl:prose-xl max-w-prose"
      >
        Estos son algunos de los trabajos realizados por Fernando Benavente.
      </p>
      <p
        class="font-montserrat font-medium pt-4 prose prose-sm sm:prose lg:prose-lg xl:prose-xl max-w-prose"
      >
        Si quieres ver más trabajos suyos, con su antes y después, puedes hacer
        clic en el siguiente enlace:
      </p>
      <br />
      <a
        class="font-montserrat font-semibold pt-16 underline"
        href="https://www.instagram.com/benaventepeluqueros"
        target="_blank"
        rel="noopener noreferrer">Ver más en Instragram</a
      >
    </div>
  </div>
</div>
