---
import Image from "~/components/common/Image.astro";
---

<section class="bg-black-lighter text-white-ligth">
  <div class="max-w-7xl grid grid-cols-2 grid-rows-1 mx-auto px-4 sm:px-6 w-full relative xl:max-h-sm">
    <h3
      class="w-15ch text-2xl md:pt-[76px] sm:text-3xl md:text-4xl xl:text-5xl font-cormorant font-medium"
    >
      Wear your hair with pride
    </h3>
    <div
      class="absolute origin-top-left top-1/4 left-0 w-full pl-4 pt-8 md:pl-8 md:pt-8 xl:pl-16 xl:pt-16 text-xl z-10"
    >
      <h1
        class="font-cormorant font font-medium absolute md:pl-16 pt-4 sm:pt-8 md:pt-12 lg:pt-16 text-3xl sm:text-6xl md:text-6xl xl:text-7xl leading-none inline-block uppercase tracking-widest"
      >
        Benavente
        <span class="block w-full">
          <span
            class="font-semibold font-montserrat uppercase tabular-nums tracking-normal text-sm sm:text-base"
            ><sup class="">1</sup>
            /
            <sub class="mr-2">7</sub></span
          >
          Peluqueros</span
        >
      </h1>
    </div>
    <svg
      class="absolute top-0 left-[42.5%] h-full transform -translate-x-1/6 z-0"
      fill="none"
      viewBox="0 0 640 784"
    >
      <defs>
        <pattern
          id="9ebea6f4-a1f5-4d96-8c4e-4c2abf658047"
          x="0"
          y="0"
          width="20"
          height="20"
          patternUnits="userSpaceOnUse"
        >
          <rect
            x="0"
            y="0"
            width="3"
            height="3"
            class="text-white-dark"
            fill="currentColor"></rect>
        </pattern>
      </defs>
      <rect
        x="0"
        class="h-full w-1/3"
        fill="url(#9ebea6f4-a1f5-4d96-8c4e-4c2abf658047)"></rect>
    </svg>
    <Image
      class="w-1/2 object-cover h-full"
      src="~/assets/images/start-photo.jpg"
      alt=""
    />
    <div
      class="absolute hidden md:font-montserrat md:font-semibold md:block origin-bottom-left bottom-0 left-0 md:pl-8 md:pb-8 xl:pl-16 xl:pb-16 text-lg"
    >
      <a href="#1" class="font-montserrat underline ml-4 pb-2">Saber más</a>
      <span> sobre nosotros</span>
    </div>
  </div>
</section>
